@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.cursor { display: none; }

.back-top-btn {
  cursor: pointer;
  position: fixed;
  bottom: 30px;
  right: -70px;
  width: 70px;
  height: 70px;
  border: 1px dashed currentColor;
  display: grid;
  place-items: center;
  visibility: hidden;
  z-index: 3;
}

.back-top-btn.show {
  transform: translateX(-100px);
  visibility: visible;
}

@keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes slideInUp {
    0% {
      opacity: 0;
      transform: translateY(100px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-fade-in-up {
    animation: fadeInUp 1s ease-in-out;
  }
  
  .animate-slide-in-up {
    animation: slideInUp 1.2s ease-in-out;
  }

.cursor {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 75px;
    height: 75px;
    background-color: white;
    /* for lensing effect  */
    mix-blend-mode: exclusion;

    border-radius: 50px;
    transform: translate(-50%, -50%) scale(0.35);
    transition: transform 0.35s;
    pointer-events: none;
    z-index: 6;
  }

  .cursor.hovered { transform: translate(-50%, -50%) scale(1.2); }

  .cursor.disabled { transform: translate(-50%, -50%) scale(0); }



body {
    background-image: url("https://images.unsplash.com/photo-1542051841857-5f90071e7989?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-image: url("https://images.unsplash.com/photo-1534665482403-a909d0d97c67?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

* {
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

.great-vibes-regular {
    font-family: "Great Vibes", cursive;
}

.slider {
    z-index: -1;
}

/* custom css for select  */

.goog-te-combo {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 4px 8px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

#google_translate_element {
    position: absolute;
    bottom: 0px;
    right: 8px;
    margin-bottom: 35px;
}